@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #1a1a2e;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.container {
  width: 90%;
  max-width: 600px;
  padding: 2rem;
  border-radius: 10px;
  background: #16213e;
}
h1 {
  font-weight: 700;
  font-size: 2rem;
}
.description {
  font-size: 1.1rem;
  text-align: justify;
  margin-bottom: 1rem;
  line-height: 1.5;
}
form {
  display: grid;
  gap: 1rem;
}
label {
  font-weight: 500;
  font-size: 1rem;
}
input[type="file"], input[type="number"], input[type="checkbox"], select {
  outline: none;
  background: transparent;
  padding: .75rem;
  border-radius: 5px;
  color: #eee;
  font-size: 1rem;
  font-weight: 300;
  border: 1px solid #ccc;
}
input[type="number"] {
  appearance: textfield;
  background-color: #0f0e17;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  position: relative;
  height: 20px;
  width: 20px;
  background-color: rgba(15, 14, 23, 0.6);
  border-radius: 3px;
  margin: 0;
}
input[type="number"]::-webkit-inner-spin-button:before {
  content: '▲';
  color: #e94560;
  position: absolute;
  top: 2px;
  left: 3px;
}
input[type="number"]::-webkit-inner-spin-button:hover:before {
  color: #ab2346;
}
input[type="number"]::-webkit-outer-spin-button:before {
  content: '▼';
  color: #e94560;
  position: absolute;
  bottom: 2px;
  left: 3px;
}
input[type="number"]::-webkit-outer-spin-button:hover:before {
  color: #ab2346;
}
input[type="file"]::-webkit-file-upload-button {
  color: #eee;
  background: #e94560;
  padding: .5rem;
  border-radius: 5px;
}
input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #0f0e17;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

input[type="checkbox"]:checked::before {
  content: "X";
  color: #e94560;
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
select {
  appearance: none;
  background-color: #0f0e17;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background: #e94560;
  color: #eee;
  padding: .75rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s;
  width: 100%;
  text-align: center;
  position: relative;
  top: 15px;
}
button:hover {
  background: #ab2346;
}
.sound-loop-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sound-loop-label span {
  margin-left: 10px;
}